* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: azure;
    font-family: Arial, Helvetica, sans-serif;
}

.blockquote h1 {
    color: green;
    margin-top: 50px
}

h2 {
    color: black;
    
}

.blockquote-footer{
    color: black;
    margin: 150px;
    font-size: 15px;
}

.container {
    color: black;
}

.button {
    position: center;
    text-align: center;
}


